/*
Theme Name: Kimocea Theme
Theme URI: https://#
Template: twentytwenty
Author: Dan Laurice Seruela
Author URI: https://#
Description: Our default theme for 2020 is designed to take full advantage of the flexibility of the block editor. Organizations and businesses have the ability to create dynamic landing pages with endless layouts using the group and column blocks. The centered content column and fine-tuned typography also makes it perfect for traditional blogs. Complete editor styles give you a good idea of what your content will look like, even before you publish. You can give your site a personal touch by changing the background colors and the accent color in the Customizer. The colors of all elements on your site are automatically calculated based on the colors you pick, ensuring a high, accessible color contrast for your visitors.
Tags: blog,one-column,custom-background,custom-colors,custom-logo,custom-menu,editor-style,featured-images,footer-widgets,full-width-template,rtl-language-support,sticky-post,theme-options,threaded-comments,translation-ready,block-styles,wide-blocks,accessibility-ready
Version: 1.0.0.1586759171
Updated: 2020-04-13 06:26:11

*/

/* Fonts */
@font-face {
    font-family: "Tiempos";
    src: url(./assets/fonts/TiemposHeadline-Regular.otf) format("otf");
}

p {
    font-family: "Tiempos";
    color: #231f20;
}

/* Custom Fixed Header */
 #site-header {
    /* top: 0; */
    position: fixed;
    width: 100%;
    height: auto;
    background: #231f20;
    color: #f7f7f7;
    z-index: 99;
 }
 /* Updates 2022-02-08 */
 body:not(.overlay-header) .primary-menu > li > a {
     color: #fff !important;
 }
 body:not(.overlay-header) .primary-menu > li > a:hover {
     color: #cd2653 !important;
     text-decoration: none !important;
 }
 .header-inner .toggle-wrapper::before {
     display: none !important;
 }
/* HEADER TOGGLES */
#site-header .toggle .toggle-inner {
    color: #fff !important;
}
.header-inner .toggle:focus .toggle-text,
.header-inner .toggle:hover .toggle-text {
	text-decoration: none !important;
} 
.header-inner {
    padding: 2.2rem 0;
 }
.header-titles .menu-toggle {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    margin-left: 20px;
}
.header-titles .menu-toggle:active,
.header-titles .menu-toggle:visited {
    color: #fff !important;
}
.header-titles .menu-toggle:hover,
.custom-nav-list li a:hover {
    color: #cd2653;
}
/* .menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
} */
.search-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
}
.ads-wrapper {
    top: 70px;
}
.ads-header {
    position: static;
    align-items: center;
    height: 130px;
    z-index: 300;
    margin: 0;
    background: #f7f7f7;
    border-bottom: none;
    display: flex;
 }
 .section-inner {
    max-width: 1100px;
 }
.custom-nav-wrapper {
    margin-top: 164px;
    display: flex;
    justify-content: space-between;
}
.custom-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
}
.custom-nav-list li {
    /* margin: 0.5rem 0 0 0; */
    margin: 0.5rem auto 2rem;
    font-size: 2.7rem;
    font-weight: 700;
}
.custom-nav-list li a {
    margin: 0.5rem 0 0 0;
    text-decoration: none;
    color: #000;
}
 /*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:#f7f7f7;
	overflow:hidden;
	z-index:98;
}
/**
 * Custom Body
 */
body {
    background: none; /*#f5efe0;*/
 }
/* Alignment */
.center-align { 
    text-align: center; 
    margin: 0 auto;
}
.left-align { text-align: left; }
.right-align { text-align: right; }
/**
 * Custom Article
 */

 h1.entry-title,
 h2.entry-title {
    margin: 1.4rem 0 0;
}
.featured-media {
    margin: 0;
}
.featured-media img:hover {
    opacity: 0.7;
}
.post-inner {
    padding-top: 0.8rem;
}
.entry-content p {
    margin: 0;
}
.mobile-button {
    padding: 0.8em 3em !important;
    display: none;
}
.content-list-header {
    border-bottom: solid 2px #231f20;
    margin-bottom: 2em;
}
.content-list-header h3 {
    margin: 1em 0 0.5em;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
}
#featured-posts {
    margin-top: 40px;
    margin-bottom: 60px;
}
.entry-title a:focus, .entry-title a:hover {
    text-decoration: none;
    color: #cd2653;
}
.search-toggle .toggle-inner .svg-icon:hover {
    color: #cd2653;
}
/* Singular */
.singular article.post div.section-inner {
    display: block;
}
.singular .section-inner .featured-media {
    width: 100%;
}
.singular .entry-header {
    padding: 4rem 0 0;
}
.singular .entry-title {
    font-size: 40px;
    line-height: 56px;
    margin: 0;
}
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: initial;
    width: auto;
}
/* .single-post .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    text-align: justify;
} */
.single-post .entry-header-inner hr,
.page .entry-header-inner hr {
    margin: 1.4rem auto !important;
    border-bottom: solid 2px #231f20 !important;
}
.single-post .intro-text p {
    margin: auto;
    font-size: 20px;
}
.single-post .entry-content p,
.page .entry-content p {
    font-family: "Tiempos";
    line-height: 30px;
    letter-spacing: normal;
}
.single-post .post-meta-wrapper-custom .author-custom,
.page .post-meta-wrapper-custom .author-custom {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #231f20;
}
.single-post .post-meta-wrapper-custom a[rel="category tag"] {
    font-weight: 700;
    text-decoration: none;
}
.single-post .post-meta-wrapper-custom .post-meta-wrapper,
.single-post .post-meta-wrapper,
.page .post-meta-wrapper-custom .post-meta-wrapper {
    margin: auto !important;
    max-width: initial !important;
    width: initial !important;
}
.single-post .post-meta li,
.page .post-meta li {
    margin: inherit;
}
.archive h1.archive-title {
    background-color: #FFD626;
    padding: 0 10px;
    width: fit-content;
    margin: 0 auto;
}
.archive .archive-header {
    margin-bottom: 4rem;
    border-bottom: 2px solid #f0efef;
}
.page .page-media-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: scroll;
    min-height: 50vh !important;
}
.overlay-cover:before{
    /* position: absolute; */
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    display: block;
    z-index: 0;
    background-color: rgba(0,0,0,0.2);
}
.post-meta {
    margin: 0;
}
.post-meta-wrapper-custom .sfsi_shortcode_container {
    float: none !important;
}
/* Page */
.post-2.page .post-meta-wrapper,
.post-214.page .post-meta-wrapper {
    margin-top: 0 !important;
}
.post-2.page .post-meta,
.post-214.page .post-meta {
    margin: 0 auto !important;
}
/* Contact Form 7 */
.wpcf7-form {
	max-width: 600px;
	margin: 30px auto;
}
.wpcf7-form label {
	font-family: "Inter Var";
	font-weight: 700;
}
.wpcf7-form .wpcf7-submit {
    width: 100%;
    background: #15ba8f;
}
.wpcf7-form .wpcf7-submit:focus, 
.wpcf7-form .wpcf7-submit:hover {
    text-decoration: none;
    background: #cd2653;
}
/* .wpcf7 .wpcf7-validates-as-required {
    border: 2px solid #f00;
} */
.wpcf7 .wpcf7-response-output {
    margin: 1em 0;
    border: 2px solid #f00;
    font-family: "Tiempos";
    font-size: 20px;
}
 /**
  * Custom Footer
  */
#site-footer {
    padding: 0 0 4rem;
}
#site-footer,
.footer-nav-widgets-wrapper {
    background: #231f20;
    color: #f7f7f7 !important;
    margin: 0;
    /* padding-top: 8rem; */
}
.footer-widgets-outer-wrapper {
    padding: 4rem 0;
    border: 0;
}
/* .footer-widgets img {
    max-width: initial;
    width: 200px;
} */
.footer-widgets .widget-content,
.footer-widgets .widget-content a,
#site-footer .footer-links-wrapper,
#site-footer .footer-copyright {
    font-family: "Inter Var";
    font-size: 14px;
    font-weight: 500;
    color: #f7f7f7;
}
.footer-widgets .widget-content #menu-footer-menu,
.footer-widgets .widget-content #menu-social-media-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;
}
.footer-widgets .widget-content #menu-footer-menu .menu-item,
.footer-widgets .widget-content #menu-social-media-menu .menu-item {
    flex: 0 1 50%;
    line-height: 1.42;
}
.footer-widgets .widget-content #menu-footer-menu .menu-item {
    flex-basis: 33%;
}
.footer-widgets .widget-content #menu-social-media-menu .menu-item {
    flex-basis: 8%;
    margin: 3px 0;
}
.footer-widgets .widget-content a {
    display: block;
    padding: 4px 12px 4px 0;
}
.footer-widgets .widget-content a:hover,
.footer-widgets .widget-content a:focus,
#site-footer .footer-copyright a:hover  {
    text-decoration: none;
}
.footer-widgets .widget-content a:hover { 
    color: #cd2653;
}
.footer-widgets .widget-content #menu-social-media-menu .dashicons {
    font-size: 26px;
}
.footer-widgets .widget-content .heading-size-3 {
    font-size: 2.4rem;
}
.footer-widgets .widget-content .custom-html-widget p {
    font-family: "Tiempos";
    font-size: 21px;
    color: #f7f7f7;
    line-height: 31px;
}
.footer-widgets .widget-content .custom-html-widget button {
    background-color: #15ba8f;
    padding: 20px;
    width: 200px;
}
/* #site-footer .footer-links-wrapper {
    width: 100%;
}
#site-footer .footer-links-wrapper .footer-widgets {
    margin-left: 0;
    width: 44%;
    float: left;
}
#site-footer .footer-links-wrapper .footer-column-border {
    width: 12%;
    float: left;
    display: block;
    position: relative;
}
#site-footer .footer-links-wrapper .footer-column-border:after {
    content: "";
    position: relative;
    left: 0;
    width: 50%;
    top: 50%;
    height: 35%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-right: 1px solid #e5e5ea;
} */
#site-footer .footer-credits {
    width: 100%;
    /* padding: 30px 0 0 !important; */
}
#site-footer .section-inner {
    display: block;
}

/****************************
  *  MEDIA QUERIES 
  ***************************/

  /* HEADER TOGGLES   */
@media ( max-width: 768px ) {
    .header-titles .menu-toggle {
        padding: 4.8rem 0;
    }
    .menu-toggle {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
    .nav-toggle {
        left: 2rem !important;
    }
    .menu-top button:hover,
    .modal-menu a:hover {
        text-decoration: none !important;
    }
    .modal-menu a {
        color: #000 !important;
    }
    .modal-menu a:hover {
        color: #cd2653 !important;
    }
}

@media ( max-width: 425px ) {
    .site-logo img {
        max-height: 9rem;
    }
    .mobile-button-wrapper {
        margin-top: 1.5rem;
    }
    .mobile-button {
        display: initial;
    }
    .read-more-button-wrap {
        display: block;
    }
    body:not(.singular) main > article:first-of-type {
        padding: 0;
    }
    .search-results h2.entry-title a {
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
        text-decoration: none;
        color: #cd2653 !important;
    }
    .search-results .archive-header {
        padding: 3rem 0;
    }
    .single-post .entry-content p,
    .page .entry-content p {
        font-size: 2rem;
        margin: 20px 0;
    }
    .single-post .post-meta-wrapper-custom .category-custom, 
    .page .post-meta-wrapper-custom .category-custom {
        font-size: 16px;
        line-height: 20px;
    }
    .archive h1.archive-title {
        font-size: 28px;
        line-height: 38px;
    }
    .page .page-media-cover {
        min-height: 30vh !important;
    }
    .overlay-cover:before{
        height: 30vh;
    }
    /* Footer */
    .footer-widgets .widget-content #menu-footer-menu .menu-item {
        flex-basis: 50%;
    }
    .footer-widgets .widget_media_image img,
    .footer-widgets .widget_nav_menu,
    #site-footer .footer-credits {
        text-align: center;
        margin: auto;
    }
    .footer-widgets .widget-content #menu-social-media-menu {
        margin: 20px 0;
    }
    .footer-widgets .widget-content #menu-social-media-menu .menu-item {
        margin: 3px auto;
    }
}

@media ( min-width: 700px ) {
    body:not(.singular) main > article:first-of-type {
        padding: 4rem 0 0;
    }
    .site-logo img {
        max-height: 9rem;
    }
    .featured-media {
        width: 150px;
        margin-right: 30px;
        /* margin-bottom: 0; */
    }
    .featured-media-inner.section-inner.medium {
        margin-left: auto !important;
        margin-right: 0 !important;
        width: auto;
    }
    .entry-content-wrapper {
        width: 100%;
    }
    .entry-header-inner.section-inner.medium,
    .entry-content.section-inner {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    h2.entry-title {
        margin: 0;
        font-size: 26px;
    }
    article.post,
    .search article.page {
        margin-bottom: 50px;
    }
    article.post div.section-inner {
        display: flex;
    }
    .entry-content-wrapper {
        display: block;
    }
    hr.post-separator, 
    .mobile-button-wrapper,
    .read-more-button-wrap {
        display: none;
    }
    .singular .featured-media-inner {
        width: auto;
        left: auto;
    }
    .single-post .entry-content p, 
    .page .entry-content p {
        font-size: 2.1rem;
        margin: 25px 0;
    }
    .single-post .post-meta-wrapper-custom .category-custom,
    .page .post-meta-wrapper-custom .category-custom {
        font-size: 20px;
        line-height: 40px;
    }
    .search-results h2.entry-title a {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-decoration: none;
        color: #cd2653 !important;
     }
     .search-results .archive-header,
     .archive .archive-header {
        padding: 4rem 0;
    }
    .archive h1.archive-title {
        font-size: 40px;
        line-height: 56px;
    }
    .page .page-media-cover {
        min-height: 50vh !important;
    }
    .overlay-cover:before{
        height: 50vh;
    }
}

@media ( min-width: 990px ) {
    .featured-media {
        margin-right: 20px;
    }
    #featured-posts article.post div.section-inner {
        display: flex;
        width: auto;
    }
    #featured-posts {
        width: calc(100vw - 90px);
        max-width: 1100px;
        margin: 2em auto 0;
    }
    #featured-posts .entry-title {
        font-size: 24px;
        line-height: 32px;;
    }
}

@media ( min-width: 1000px ) {
    .featured-media {
        width: 200px;
        /* margin-bottom: 0; */
    }
    h2.entry-title {
        font-size: 34px;
    }
    #featured-posts {
        display: grid;
        grid-template-columns: repeat(2,calc(50% - 30px));
        grid-column-gap: 60px;
    }
}

@media ( min-width: 1220px ) {
    .featured-media {
        width: 245px;
        margin-right: 30px;
        /* margin-bottom: 0; */
    }
    h2.entry-title {
        font-size: 34px;
    }
    .page .page-media-cover {
        min-height: 60vh !important;
    }
    .overlay-cover:before{
        height: 60vh;
    }
}
